@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  /* background: linear-gradient(to right, #f399cf, #c590e4); */
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}


